
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/* font-size: 100%; */
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    font-family: sans-serif;
}

/* Inside topNavbar */
.mainNavbar{
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    transition: 450ms;
}

.innerNavbarBox {
    margin: 0 2%;
    height: 100%;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    font-weight: 600;
    font-size: 1.25rem;
}

.navList {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.listItem {
    margin: 0px 40px;
    background-color: none;
}

.listItem a{
    letter-spacing: 2px;
    /* margin: 5px; */
    padding: 5px;
    color: inherit;
    text-decoration: none;
    transition: box-shadow 200ms, opacity 200ms;
    opacity: 0.5;
}

.listItem a:hover {
    box-shadow: 0px 0px 6px 2px white;
    opacity: 1;
}


/* Under Navbar */

.mainSectionBox {
    margin-top: 80px;
    height: 100%;
}

.subSection {
    height: 500px;
    width: 100%;
    color: #36454f;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
}

.subSection:nth-of-type(2n) {
    background-color: #36454f;
    color: white;
}

.subSection h2 {
    font-size: 2rem;
}


.grabBanner {
    background-image: url(https://images.unsplash.com/photo-1495395226200-8fbf6b720b8c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2142&q=80);
    background-position: left 50% bottom 28%;
    height: 750px;
}

.subSection .wordCycle{
    font-size: 3rem;
    text-shadow: black;
    color: white;
    margin: 15%;
    transition: 100ms;
    opacity: 1;
}

/* Inner section containers */

.innerSectionColumn {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
}


.innerSectionRow {
    height: 100%;
    margin: 0 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}




.box {
    width: 200px; height: 100px;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, white 50%, black 50%);
    transition: background-position 1s;
}

.box:hover {
    background-position: -100% 0;

}

svg {
    font-size: 4rem;
    transform: rotate(45deg);
    transition: 1s;

}

.box:hover svg {
    transform: rotate(0deg);
    fill: white;
}



.testBox {
    position: relative;
    height: 250px;
    width: 250px;
    border: 1px solid red;
    box-shadow: 0px 0px 0px 30px black;
    border-radius: 5px;
    margin-right: 15%;
}

/* html * {
    border: 1px solid orange;
} */