html, body, ul, li, div{
    margin:0;
    border: 0;
    padding: 0;
    height: 100%;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background-image: url(https://images.unsplash.com/photo-1532423622396-10a3f979251a?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80);
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
}

.mainSection {
    margin-top: 10%;
    padding: 25px;
    width: 75%;
    max-width: 600px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 23px 69px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 23px 69px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 23px 69px 0px rgba(0,0,0,0.75);
    
}