html, body{
    height: 100%;
    border: none;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    color: hsl(0, 0%, 59%);
    background-color: hsl(185, 75%, 39%);
    line-height: 25px;
}

h2, h3, p{
    font-size: 18px;
    padding: 0;
    margin: 0;
    font-weight: 400;
}

p{
    font-size: 14px;
}

h2 {
    color: hsl(229, 23%, 23%);
    font-weight: 700;
}

h2 .age{
    font-weight: 400;
    color: hsl(0, 0%, 59%)
}

.main {
    border: none;
    height: 100%;
    background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
    /* background-size: 100%, 100%; */
    background-position: top -550px left -250px, bottom -610px right -250px;
    background-repeat: no-repeat, no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profileCard {
    min-width: 300px;
    overflow:hidden;
    position: relative;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 1px 48px 116px -48px rgba(0,0,0,0.62);
    -webkit-box-shadow: 1px 48px 116px -48px rgba(0,0,0,0.62);
    -moz-box-shadow: 1px 48px 116px -48px rgba(0,0,0,0.62);

}

.cardBg {
    width: 100%;
}


.profilePic {
    position: absolute;
    top: -54px;
    border-radius: 50%;
    border: 8px white solid;
}

.details {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details h2{
    margin-top: 75px;
}

.details p{
    margin-bottom: 20px;
}

.age {
    font-weight: 400;
}

.statsContainer {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: 1px hsl(52, 0%, 80%, 1) solid;
}

.statBox {
    width: 25%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statBox p{
    letter-spacing: 2px;
}

@media (max-width: 375px){
    .main{
        background-size: 150%, 150%;
        background-position: top -325px  left -350px, bottom -300px right -350px;
    }
}